body{
    background: orange;
}

.test{
    font-size: 50px;
    font-family: "Inter Semi Bold";
    font-weight: bold;

    button{
        color: green;
        background: blueviolet;
        padding: 10px;
    }
}